/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.10.2014, 22:16:39
    Author     : micha
*/

/*.loh_block .loh_header .loh-header-week {}

.loh_block.loh_header .loh-header-date {}

.loh_block .loh_row .loh-times {}*/

.clear {
  clear: both;
}

/* Open Hours Block */
.loh-block .loh-row .loh-label {
  float: left;
  width: 6em;
}

.loh-block .loh-link-line {
  height: 1rem;
}

.loh-block .loh-prev {
  float: left;
}

.loh-block .loh-next {
  float: right;
}

/* Open Hours Field */
.loh-field  {
  width: 16em;
}

.loh-field .loh-row .loh-label {
  float: left;
  width: 7em;
}

.loh-field .loh-prev {
  padding-left: 1em;
  float: left;
}
.loh-field .loh-next {
  padding-right: 1em;
  float: right;
}

.li-open-close span.li-open {
  background-color: #00FF00;
}

.li-open-close span.li-close {
  background-color: #FF0000;
}

.loh-field .li-today {
  font-weight: bold;
}

.loh_today {
  background-color: #FFFFCC;
}

/* Library information */
.lli-tel-title {
  float: left;
  width: 13em;
}

.lli-visit-address {
  clear: both;
}

.lli-post-address {
  clear: both;
}

.lli-tel-row {
  clear: both;
}
