/* Library open hours admin page */

#li-open-hours-admin #content_type-field-fieldset-wrapper .form-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}

#li-open-hours-admin .form-item-lioh-content-type {
  margin: 0; 
}

#li-open-hours-admin .fieldset-wrapper {
  padding: 0; 
}
